.Game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.grid {
    border: gray 1px solid;
    user-select: none;
    touch-action: none;
    pointer-events: all;
}
.row {
    display: flex;
    width: 100%;
    user-select: none;
    touch-action: none;
    pointer-events: all;
}

.cell {
    max-width: 100px;
    max-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: gray 1px solid;
    user-select: none;
    touch-action: none;
    pointer-events: all;
}
.circle {
    width: 70%;
    height: 70%;
    border-radius: 50%;
    user-select: none;
    touch-action: none;
    pointer-events: all;
}

.pipe {
    position: relative;
    width: 100%;
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #f4f4f4;
    border-radius: 10px;
}

.timer {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #333;
}

.playerHolder {
    overflow: hidden;
    margin-left: 16px;
    margin-right: 16px;
}

.name {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
    white-space: normal;
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    word-break: break-word;
    hyphens: auto;
}

.score {
    font-size: 28px;
    font-weight: bold;
}


@media (max-width: 500px)  {
    .Game {
        height: 80vh;
    }
    .timer {
        font-size: 26px;
    }
    .name {
        font-size: 16px;
    }
}
