body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #121212;
    color: white;
    user-select: none;
    overflow: hidden;
    -webkit-touch-callout: none;
}

* {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}
