.Lobby {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.idHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    border: 2px solid rgb(153, 153, 153);
    width: 250px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 8px;
}
.lobbyIdLabel {
    font-size: 16px;
    font-weight: 500;
    color: rgb(153, 153, 153);
}
.lobbyId {
    font-size: 36px;
    font-weight: 900;
    user-select: all !important;
}

.usersHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    border: 2px solid rgb(153, 153, 153);
    width: 250px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 8px;
}
.usersLabel {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 4px;
    color: rgb(153, 153, 153);
}
.users {
    width: 90%;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.lobbyLabel {
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-align: left;
    width: 250px;
    margin-top: 12px;
}

.lobbyInput {
    font-size: 16px;
    width: 236px;
    padding: 8px;
    border-radius: 6px;
    border: none;
    transition: border-color 0.3s ease;
}
.lobbyInput:focus {
    outline: none;
}

.btnHolder {
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 8px;
}
.lobbySaveBtn, .lobbyStartBtn, .lobbyExitBtn {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: filter 0.3s ease;
    height: 40px;
}
.lobbySaveBtn:hover, .lobbyStartBtn:hover, .lobbyExitBtn:hover {
    filter: brightness(110%);
}
.lobbySaveBtn:disabled, .lobbyStartBtn:disabled, .lobbyExitBtn:disabled {
    background-color: #767676;
    cursor: not-allowed;
}
.lobbyExitBtn {
    width: 72px;
    background-color: #af4c4c;
}
.lobbyStartBtn {
    width: 78px;
    background-color: #4CAF50;
}
.lobbySaveBtn {
    width: 84px;
    background-color: #2196F3;
}

.selectBtn {
    width: 62.5px;
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    cursor: pointer;
    transition: filter 0.3s ease;
    background: white;
    color: black;
}
.selectBtn:hover {
    filter: brightness(110%);
}
.active {
    background: gold;
}
.selectBtn:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.selectBtn:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

@media (max-width: 500px)  {
    .Lobby {
        height: 82.5vh;
    }
}
